p{
    color: blue;
    font-size: 30px;
    font-weight: 200;
    font-family: 'tangerine', sans-serif;

}
h1{
    color: black;
    font-size: 50px;

}
h2{
    color: blueviolet;
    font-size: 40px;

}
ul li{
    color: blue;
    font-weight: 200;
    font-size: 25px;
}
footer{
    color: brown;
    font-size: 50px;
    font-weight: 400;
}